<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Rock, Paper, Scissors</title>
</head>
<body>

  <h1>Rock, Paper, Scissors</h1>

  <form action="/" method="POST">
    Please enter your selection: 
    <input type="text" name="selection" />

    <input type="submit" />
  </form>
<br>
    <%= flash[:notice] %>
</body>
</html>