<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Rock, Paper, Scissors</title>
</head>
<body>
<p>
You have selected <%=@selection%>
and the computer has selected <%=@computer%>
<br>
The result is: <%=@outcome%>!
<br>
<a href="/">Click here to play again!</a>
</p>
</body>
</html>